{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Sistema de monitoramento <br />
    COVID-19</h1>
<div class="contadorContainer">
    <div class="contador">
        <div class="contNum">0</div>
        <div class="contLabel">Curados</div>
    </div>
    <div class="contador">
        <div class="contNum">0</div>
        <div class="contLabel">Infectados</div>
    </div>
    <div class="contador">
        <div class="contNum">0</div>
        <div class="contLabel">Mortos</div>
    </div>
</div>
<div class="navbar">
    Navegue pelos dados do sistema:
    <ul class="navmenu">
        <li>
            <a href="{{ url_for('leito') }}">Leitos</a>
        </li>
        <li>
            <a href="{{ url_for('paciente') }}">Pacientes</a>
        </li>
        <li>
            <a href="{{ url_for('visitante') }}">Visitantes</a>
        </li>
    </ul>
</div>
{% endblock %}
