{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Sistema de monitoramento <br />
    COVID-19</h1>

<div class="navbar">
    Navegue pelos dados do sistema:
    <ul class="navmenu">
        <li>
            <a href="{{ url_for('leito') }}">Leitos</a>
        </li>
        <li>
            <a href="{{ url_for('paciente') }}">Pacientes</a>
        </li>
        <li>
            <a href="{{ url_for('visitante') }}">Visitantes</a>
        </li>
        <li>
            <a href="{{ url_for('visita') }}">Visitas</a>
        </li>
        <li>
            <a href="{{ url_for('leitos_visitantes') }}">Visitantes por leito</a>
        </li>
    </ul>
</div>
{% endblock %}
