{% extends 'base.html' %}

{% block title %}Leitos{% endblock %}

{% block content %}

<h2>Registrar leito</h2>

<div class="homeButton">
    <a href="{{ url_for('index') }}">← Página Inicial</a>
</div>

<form method="POST">
    <br><label for="NUMERO">NUMERO</label>
    <input id="NUMERO" name="NUMERO" required type="number">
    <br><label for="ID_HOSPITAL">ID_HOSPITAL</label>
    <input id="ID_HOSPITAL" name="ID_HOSPITAL" required type="number">
    <br><label for="ANDAR">ANDAR</label>
    <input id="ANDAR" name="ANDAR" required type="number">
    <br><label for="CAPACIDADE">CAPACIDADE</label>
    <input id="CAPACIDADE" name="CAPACIDADE" required type="number">
    <br><label for="INTERNADOS">INTERNADOS</label>
    <input id="INTERNADOS" name="INTERNADOS" required type="number">
    <br><br>
    <button>Registrar</button>
</form>

<h2>Visitantes leitos</h2>

{% if context["num_leitos"] %}
<table>
    <tr>
      <th>NUMERO</th>
      <th>ID_HOSPITAL</th>
      <th>ANDAR</th>
      <th>CAPACIDADE</th>
      <th>INTERNADOS</th>
      <th>Deletar</th>
      <th>Editar</th>
    </tr>
    {% for leito in context["leitos"] %}
    <tr>
        {% for col in leito %}
        <td>
            {{ col }}
        </td>
        {% endfor %}
        <td><a href="/leito/edit?pk={{"teste"}}"> editar </a></td>
        <td>
            <img onclick="" src="{{ url_for('static', filename='trash.png') }}" alt="apagar" />
        </td>
        {# <td><a href="/leito/delete?pk={{}}"> X </a></td> #}
    </tr>
    {% endfor %}
</table> 
{% else %}
<p>Nenhum leito cadastrado</p>
{% endif %}

{% endblock %}
