{% extends 'base.html' %}

{% block title %}Leitos{% endblock %}

{% block content %}

<h2>Registrar leito</h2>

<div class="homeButton">
    <a href="{{ url_for('index') }}">← Página Inicial</a>
</div>

<form method="POST" action="/leito/create">
    <br><label for="NUMERO">NUMERO</label>
    <input id="NUMERO" name="NUMERO" required type="number">
    <br><label for="ID_HOSPITAL">ID_HOSPITAL</label>
    <input id="ID_HOSPITAL" name="ID_HOSPITAL" required type="number">
    <br><label for="ANDAR">ANDAR</label>
    <input id="ANDAR" name="ANDAR" required type="number">
    <br><label for="CAPACIDADE">CAPACIDADE</label>
    <input id="CAPACIDADE" name="CAPACIDADE" required type="number">
    <br><label for="INTERNADOS">INTERNADOS</label>
    <input id="INTERNADOS" name="INTERNADOS" required type="number">
    <br><br>
    <button>Registrar</button>
</form>

<h2>Leitos</h2>

{% if context["num_leitos"] %}
<table>
    <tr>
      <th>NUMERO</th>
      <th>ID_HOSPITAL</th>
      <th>ANDAR</th>
      <th>CAPACIDADE</th>
      <th>INTERNADOS</th>
      <th>Atualizar</th>
      <th>Deletar</th>
    </tr>
    {% for leito in context["leitos"] %}
    <tr>
        {% for col in leito %}
        <td>
            {{ col }}
        </td>
        {% endfor %}
        <td><a href="/leito/update?num={{leito[0]}}&hid={{leito[1]}}"> atualizar </a></td>
        <td>
            <a href="/leito/delete?num={{leito[0]}}&hid={{leito[1]}}">
                <img src="{{ url_for('static', filename='trash.png') }}" alt="deletar" />
            </a>
        </td>
    </tr>
    {% endfor %}
</table> 
{% else %}
<p>Nenhum leito cadastrado</p>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <script>
    window.onload = function(){
        alert('{{ category + " : " + message}}');
    };
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
