{% extends 'base.html' %}

{% block title %}Pacientes{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <script>
    window.onload = function(){
        alert('{{ category + " : " + message}}');
    };
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<h2>Pacientes do leito {{context["leito_id"]}}</h2>

<div class="goBackButton">
    <a href="{{ url_for('leito') }}">← Voltar</a>
</div>

{% if context["pacientes"] %}
<table>
    <tr>
      <th>CPF</th>
      <th>NOME</th>
      <th>ESTADO_SAUDE</th>
      <th>DATA_NASC</th>
      <th>DATA_INICIO</th>
      <th>DATA_FIM</th>
    </tr>
    {% for paciente in context["pacientes"] %}
    <tr><br>
        {% for col in paciente[0:6] %}
        <td>
            {{ col }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
{% else %}
<p>Nenhum pacientes cadastrado para esse leito</p>
{% endif %}

{% endblock %}