{% extends 'base.html' %}

{% block title %}Pacientes{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <script>
    window.onload = function(){
        alert('{{ category + " : " + message}}');
    };
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<h2>Registrar paciente</h2>

<div class="homeButton">
    <a href="{{ url_for('index') }}">← Página Inicial</a>
</div>

<form method="POST" action="/paciente/create">
    <br><label for="CPF">CPF</label>
    <input id="CPF" name="CPF" required>
    <br><label for="NOME">Nome</label>
    <input id="NOME" name="NOME" required>
    <br><label for="ESTADO_SAUDE">Estado de saúde</label>
    <input id="ESTADO_SAUDE" name="ESTADO_SAUDE" required type="number">
    <br><label for="DATA_NASC">Data de nascimento</label>
    <input id="DATA_NASC" name="DATA_NASC" required type="date">
    <br><label for="DATA_INICIO">Data início</label>
    <input id="DATA_INICIO" name="DATA_INICIO" required type="date">
    <br><label for="DATA_FIM">Data fim</label>
    <input id="DATA_FIM" name="DATA_FIM" type="date">
    <br><label for="LEITO">ID do leito</label>
    <select id="LEITO" name="LEITO" required>
        <option value="">-- Selecione --</option>
        {% for leito in context["leitos"] %}
        <option value="{{leito[1]}} {{leito[0]}}">{{leito[0]}} - {{leito[1]}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit">Registrar</input>
</form>

<h2>Pacientes registrados</h2>

{% if context["num_pacientes"] %}
<table>
    <tr>
      <th>CPF</th>
      <th>NOME</th>
      <th>ESTADO_SAUDE</th>
      <th>DATA_NASC</th>
      <th>DATA_INICIO</th>
      <th>DATA_FIM</th>
      <th>LEITO</th>
      <th>Visitantes</th>
      <th>Atualizar</th>
      <th>Deletar</th>
    </tr>
    {% for paciente in context["pacientes"] %}
    <tr><br>
        {% for col in paciente[0:6] %}
        <td>
            {{ col }}
        </td>
        {% endfor %}
        <td>
            <a href="/leito_do_paciente?hid={{paciente[6]}}&num={{paciente[7]}}&nome={{paciente[1]}}">{{paciente[6]}} - {{paciente[7]}}</a>
        </td>
        <td>
            <a href="/visita?paciente={{paciente[0]}}"> Visitantes </a>
        </td>
        {% set params = "cpf={0}".format(*paciente) %}
        <td><a href="/paciente/update?cpf={{paciente[0]}}"> atualizar </a></td>
        <td>
            <a href="/paciente/delete?cpf={{paciente[0]}}">
                <img src="{{ url_for('static', filename='trash.png') }}" alt="deletar" />
            </a>
        </td>
    </tr>
    {% endfor %}
</table> 
{% else %}
<p>Nenhum pacientes cadastrado</p>
{% endif %}

{% endblock %}