{% extends 'base.html' %}

{% block title %}Leitos{% endblock %}

{% block content %}

<h2>Atualizar leito</h2>

<div class="homeButton">
    <a href="{{ url_for('leito') }}">← Voltar</a>
</div>

<form method="POST" action="/leito/update">
    <br><label for="NUMERO">NUMERO</label>
    <input id="NUMERO" name="NUMERO" readonly="readonly" type="number" value="{{context["leito"][0]}}">
    <br><label for="ID_HOSPITAL">ID_HOSPITAL</label>
    <input id="ID_HOSPITAL" name="ID_HOSPITAL" readonly="readonly" type="number" value="{{context["leito"][1]}}"">
    <br><label for="ANDAR">ANDAR</label>
    <input id="ANDAR" name="ANDAR" required type="number" value="{{context["leito"][2]}}"">
    <br><label for="CAPACIDADE">CAPACIDADE</label>
    <input id="CAPACIDADE" name="CAPACIDADE" required type="number" value="{{context["leito"][3]}}"">
    <br><label for="INTERNADOS">INTERNADOS</label>
    <input id="INTERNADOS" name="INTERNADOS" required type="number" value="{{context["leito"][4]}}"">
    <br><br>
    <button>Registrar</button>
</form>

{% endblock %}
