{% extends 'base.html' %}

{% block title %}Visitas{% endblock %}

{% block content %}

<h2>Registrar visita</h2>

<div class="homeButton">
    <a href="{{ url_for('index') }}">← Página Inicial</a>
</div>

<form method="POST" action="/visita/create">
    <br><label for="CPF_PACIENTE">CPF do paciente</label>
    <select id="CPF_PACIENTE" name="CPF_PACIENTE" required>
        <option value="">-- Selecione --</option>
        {% for paciente in context["pacientes"] %}
        <option value="{{paciente[0]}}">{{' - '.join(paciente)}}</option>
        {% endfor %}
    </select>
    <br><label for="CPF_VISITANTE">CPF do visitante</label>
    <select id="CPF_VISITANTE" name="CPF_VISITANTE" required>
        <option value="">-- Selecione --</option>
        {% for visitante in context["visitantes"] %}
        <option value="{{visitante[0]}}">{{' - '.join(visitante)}}</option>
        {% endfor %}
    </select>
    <br><label for="DATA_VISITA">Data da visita</label>
    <input id="DATA_VISITA" name="DATA_VISITA" required type="date">
    <br><br>
    <button>Registrar</button>
</form>

<h2>Visitas registradas</h2>

{% if context["visitas"] %}
<table>
    <tr>
      <th>CPF_PACIENTE</th>
      <th>CPF_VISITANTE</th>
      <th>DATA_VISITA</th>
      <th>Deletar</th>
    </tr>
    {% for visita in context["visitas"] %}
    <tr>
        {% for col in visita %}
        <td>
            {{ col }}
        </td>
        {% endfor %}
        {% set params = "cpf_paciente={0}&cpf_visitante={1}&data_visita={2}".format(*visita) %}
        <td>
            <a href="/visita/delete?{{params}}"> 
                <img src="{{ url_for('static', filename='trash.png') }}" alt="deletar" />
            </a>
        </td>
    </tr>
    {% endfor %}
</table> 
{% else %}
<p>Nenhuma visita cadastrada</p>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <script>
    window.onload = function(){
        alert('{{ category + " : " + message}}');
    };
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}